
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d8d8d8; /* Cor de fundo laranja */
    font-family: Arial, sans-serif;
    overflow: hidden; /* Impede a barra de rolagem */
}

.container {
    text-align: center;
}

h1 {
    font-weight: bold;
    color: #e63946;
    background: #d8d8d8;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.hearts {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.heart {
    position: absolute;
    width: 50px; /* Tamanho do coração */
    height: 50px; /* Tamanho do coração */
    background-color: #e63946; /* Cor vermelha */
    transform: rotate(-45deg); /* Rotação corrigida para orientação correta */
    animation: float 5s infinite;
    transform-origin: center center; /* Centraliza a rotação */
    opacity: 1; /* Garante que o coração seja sempre visível */
}

.heart::before,
.heart::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #e63946; /* Cor vermelha */
    border-radius: 50%;
}

.heart::before {
    top: -25px;
    left: 0;
}

.heart::after {
    left: 25px;
    top: 0;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(-45deg); /* Mantém a rotação correta durante a animação */
        opacity: 1;
    }
    50% {
        transform: translateY(-100px) rotate(-45deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-200px) rotate(-45deg);
        opacity: 1; /* Manter opacidade sempre visível */
    }
}
/* Estilo para a imagem do casal */
@keyframes pulse {
    0% { box-shadow: 0 0 10px rgba(255, 0, 0, 0.8); }
    50% { box-shadow: 0 0 20px rgb(255, 0, 0); }
    100% { box-shadow: 0 0 10px rgba(255, 0, 0, 0.8); }
}

.couple-image {
    position: absolute;
    width: 100px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20%;
    border: 3px solid rgba(255, 0, 0, 0.8);
    animation: pulse 1.0s infinite;
}


/* Certifique-se de que as imagens fiquem dentro da área visível */
body {
    overflow: hidden; /* Impede a rolagem */
}

.hearts, .couple-images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden; /* Garante que qualquer imagem fora da tela seja cortada */
}



@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.love-phrase {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: #e63946;
    background: #d8d8d8;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}
